.formcontrol,
.checkoutCart {
  background-color: var(--white);
  padding: 0rem 2rem 1.5rem 2rem;
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  display: grid;
}
.checkoutwrapper {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 300px;
  gap: 1rem;
  margin-bottom: 6rem;
}
.h2CheckoutCart {
  margin-bottom: 0;
}
.checkoutCart li {
  font-size: smaller;
}
.cartButtons {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  margin-bottom: 5rem;
}
