:root {
  --light-pink: #fdf8fb;
  --light-purple: #9595d1;
  --light-purple-hover: #bfbfe3;
  --green: #00a499;
  --green-hover: #067774;
  --dark-purple: #2b164e;
  --red: #f92830;
  --yellow: #ffbe1e;
  --yellow-hover: #eaa90b;
  --white: #fff;
  --black: #000;
}

*,
:before,
:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

body,
html {
  margin: 0;
}

body {
  background: var(--light-pink);
  color: var(--dark-purple);
}

.wrapper {
  max-width: 800px;
  padding: 0 1rem;
  margin: 0 auto;
}
ul {
  padding-inline-start: 0;
}
/* BUTTONS */
.yellowbutton,
.greenbutton {
  padding: 15px 30px;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
}
.yellowbutton {
  color: var(--dark-purple);
  background-color: var(--yellow);
}
.yellowbutton:hover {
  background-color: var(--yellow-hover);
}
.greenbutton {
  color: white;
  background-color: var(--green);
  font-size: 1.2rem;
  text-align: center;
}
.greenbutton:hover {
  background-color: var(--green-hover);
}

.navlink {
  text-decoration: none;
  color: var(--dark-purple);
}
.navlink:hover {
  color: var(--light-purple-hover);
}
.cartBookingFee,
.checkoutBookingFee {
  border-bottom: 1px solid #2b164e;
  border-top: 1px solid #2b164e29;
  list-style: none;
  text-align: end;
  padding: 0.5rem 0rem 0.5rem 0rem;
}
.cartTotal,
.checkoutTotal {
  list-style: none;
  text-align: end;
  font-weight: bold;
  padding: 0.5rem 0rem 0.5rem 0rem;
}
.cartBookingFee,
.cartTotal {
  padding: 2rem 0rem 2rem 0rem;
}
.cartBookingFee {
  margin-top: 1rem;
}

@media screen and (max-width: 550px) {
  .navlink:not(:first-child) {
    display: none;
  }
}
