.navbar {
  padding: 1rem 3rem;
  background-color: var(--light-purple);
  display: flex;
  align-items: center;
  width: 100vw;
  text-align: center;
  justify-items: center;
}

.navbar a {
  padding: 0 1rem;
}

.navbar a:nth-child(1) {
  margin-right: auto;
}

.navbar button {
  margin-left: auto;
}
